@import "../../assets/styles/variables.scss";

.container {
  padding: 0;
}

.header {
  padding: 20px 71px 14px 71px;
  height: 59.488px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &-title {
    color: $gray5-color;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.63px;
    text-transform: uppercase;
  }
}
.messages {
  padding: 96px 71px;
  height: calc(100vh - 150px);
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.footer {
  padding: 0 71px 39px 71px;

  &-input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: $gray8-color !important;
    border: none;
    color: $gray3-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.49px;
    padding-left: 17px;

    &:focus-within {
      box-shadow: none;
    }
  }

  &-btn-send {
    width: 39px;
    height: 39px;
    padding: 10px 9px 10px 12px;
    border-radius: 8px;
    background: $blue-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  &-icon-send {
    font-size: 19px;
    color: $white-color;
  }
}
