@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Noto Sans", sans-serif;
  background: $white-color;
}

button,
input,
.ant-typography {
  font-family: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 483.08px;
  position: relative;
}

.ant-input,
.ant-btn {
  font-family: "Noto Sans";
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-dropdown .ant-dropdown-menu {
  padding: 10px 12px;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-dropdown
  .ant-dropdown-menu
  .ant-dropdown-menu-item {
  padding: 0 12px;
  margin: 5px 0px;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-dropdown .ant-dropdown-menu {
  margin-top: 22px !important;
  width: 188px;
  height: 174px;
  border-radius: 12px;
  border: 1px solid $gray5-color;
  background: $white-color;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05) !important;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-modal {
  width: 656px;
}

.ant-modal .ant-modal-content {
  width: 656px;
  border-radius: 24px;
  background: $dark-color;
  padding: 34px 44px 23px 44px;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-input-affix-wrapper
  > input.ant-input::placeholder {
  color: $gray3-color;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  background: $gray8-color !important;
  border: none;
  height: 48px;
  border-radius: 8px !important;
  margin-top: 10px;
}

:where(
    .css-dev-only-do-not-override-zl9ks2
  ).ant-select-outlined.ant-select-multiple
  .ant-select-selection-item {
  background: $white-color;
  color: $black-color;
}

:where(.css-dev-only-do-not-override-zl9ks2).ant-select-multiple
  .ant-select-selection-overflow {
  padding-left: 16px;
}

.ant-select-selection,
.ant-select-selection-placeholder {
  font-size: 18px !important;
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 6px;
}

.ant-select-selection-placeholder {
  color: $gray3-color !important;
}

.ant-select-arrow {
  font-size: 16px !important;
  color: $blue-color !important;
  padding-top: 12px;
}
