//variables
$white-color: #FFF;
$blue-color: #2F80ED;
$blue2-color: #2D9CDB;
$gray1-color: #BDBDBD;
$gray2-color: #333;
$gray3-color: #828282;
$gray4-color: #bdbdbd;
$gray5-color: #E0E0E0;
$gray6-color: #D3D3D3;
$gray7-color: #4F4F4F;
$gray8-color: #3C393F;
$gray9-color: #F2F2F2;
$gray10-color: #252329;
$black-color: #000;
$red-color: #EB5757;
$dark-color: #120F13;
$dark2-color: #0B090C;


